/cgi-bin
.idea/

# User Upload Folders
/community/partnersineducation/img/uploads
/img/content/carousel/uploads
/staff/administrators/img/uploads/
/resources/content/speakerseries/uploads/
/staff/teachers/img/uploads/
resources/content/performing/uploads/

*.bak
*.htaccess
